In [ ]:
Name="Shivani Mate"
Roll_no=9167

In [2]:
#Lists
A=['Shivani Mate','Age-21','District-Solapur']
print(A)
B=['TYBSc','SP College','Rollno-9167']
print(B)

['Shivani Mate', 'Age-21', 'District-Solapur']
['TYBSc', 'SP College', 'Rollno-9167']

In [ ]:
#Access
print(A[:1])
print(B[1:])
print(A[2])

['Shivani Mate']
['SP College', 'Rollno-9167']
District-Solapur

In [3]:
# class
print(type(A))
print(type(B))

<class 'list'>
<class 'list'>

In [ ]:
#appends():Adds an element at the end of the list
A.append('Bloodgroup-O+')
print(A)
B.append('Div-A')
print(B)

['Shivani Mate', 'Age-21', 'District-Solapur', 'Bloodgroup-O+', 'Bloodgroup-O+']
['TYBSc', 'SP College', 'Rollno-9167', 'Div-A']

In [ ]:
#count():Gives total no of elements of specified value
A.count('Age-21')
B.count('TYBSc')

1

In [5]:
#copy():returns the copy of the list
S=A.copy()
print(S)
S1=B.copy()
print(S1)

['Shivani Mate', 'Age-21', 'District-Solapur']
['TYBSc', 'SP College', 'Rollno-9167']

In [6]:
#del:delete the list
print(S)
del S
print(S)

['Shivani Mate', 'Age-21', 'District-Solapur']

NameError: ignored

In [22]:
#Extend
print(A)
print(B)
A.extend(B)
print(A)

['Shivani Mate', 'Age-21', 'District-Solapur']
['TYBSc', 'SP College', 'Rollno-9167']
['Shivani Mate', 'Age-21', 'District-Solapur', 'TYBSc', 'SP College', 'Rollno-9167']

In [26]:
#Index
print(A.index('Age-21'))
print(B.index('SP College'))

1
1

In [7]:
#Sort
print(A)
print(B)
A.sort()
B.sort()
print(A)
print(B)

['Shivani Mate', 'Age-21', 'District-Solapur']
['TYBSc', 'SP College', 'Rollno-9167']
['Age-21', 'District-Solapur', 'Shivani Mate']
['Rollno-9167', 'SP College', 'TYBSc']

In [12]:
# Nested List
W=['Shivani Mate', 'Age-21', 'District-Solapur',['Rollno-9167', 'SP College', 'TYBSc']]
print(W)
print(W[3:])

['Shivani Mate', 'Age-21', 'District-Solapur', ['Rollno-9167', 'SP College', 'TYBSc']]
[['Rollno-9167', 'SP College', 'TYBSc']]

In [1]:
#Tuples
a=('Shivani Mate','Age-21','District-Solapur')
print(a)
b=('TYBSc','SP College','Rollno-9167')
print(b)

('Shivani Mate', 'Age-21', 'District-Solapur')
('TYBSc', 'SP College', 'Rollno-9167')

In [2]:
#Access
print(a[:1])
print(b[1:])
print(a[2])

('Shivani Mate',)
('SP College', 'Rollno-9167')
District-Solapur

In [3]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [ ]:
#appends():Adds an element at the end of the list
a.append('Bloodgroup-O+')
print(a)
b.append('Div-A')
print(b)
#AttributeError: 'tuple' object has no attribute 'append'

In [5]:
#count():Gives total no of elements of specified value
a.count('Age-21')
b.count('TYBSc')

1

In [ ]:
#copy():returns the copy of the list
S=a.copy()
print(S)
S1=b.copy()
print(S1)
#AttributeError: 'tuple' object has no attribute 'copy'

In [11]:
#del:delete the list
A=('A','B','C')
print(A)
del A
print(A)

('A', 'B', 'C')

NameError: ignored

In [ ]:
#Extend
print(a)
print(b)
a.extend(b)
print(a)
#AttributeError: 'tuple' object has no attribute 'extend'

In [14]:
#Index
print(a.index('Age-21'))
print(b.index('SP College'))

1
1

In [ ]:
#Sort
print(a)
print(b)
a.sort()
b.sort()
print(a)
print(b)
#AttributeError: 'tuple' object has no attribute 'sort'

In [17]:
# Nested List
W=('Shivani Mate', 'Age-21', 'District-Solapur',('Rollno-9167', 'SP College', 'TYBSc'))
print(W)

('Shivani Mate', 'Age-21', 'District-Solapur', ('Rollno-9167', 'SP College', 'TYBSc'))