In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
x, y = 10, 5
print("Addition=",x+y)
print("Subtraction=",x-y)
print("Multiplication=",x*y)  
print("Division=",x/y)
print("Power=",x**y)
print("Modulus=",x%y)
print("Floor division=",x//y)

Addition= 15
Subtraction= 5
Multiplication= 50
Division= 2.0
Power= 100000
Modulus= 0
Floor division= 2

In [ ]:
x="shivani"
print('my name is',x)

my name is shivani

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(y)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

AttributeError: ignored

In [ ]:
a="  Hi how are you?    from where their. "
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("o", "J"))
print(a.split("o"))

Hi how are you?    from where their.
  hi how are you?    from where their.
  HI HOW ARE YOU?    FROM WHERE THEIR.
  Hi hJw are yJu?    frJm where their.
['  Hi h', 'w are y', 'u?    fr', 'm where their. ']

In [ ]:
x = "Hello"
y = 15

print(bool())
print(bool(y))

False
True

In [ ]:
x=5
print(x!=10)

True