In [ ]:
Name="Shivani Mate"
Roll No="9167"

In [ ]:
a="Suru"
b="Yash"
c=["Himanshu","Shiv"]
print(type(c))
print(c)
print(type(b))
print(b)
print(type(a))
print(a)

<class 'list'>
['Himanshu', 'Shiv']
<class 'str'>
Yash
<class 'str'>
Suru

In [ ]:
names=['Sakshi','Gauri','Surabhi','Himanshu','Yash','Prashant','Megha','Pratiksha']
print(names[:4])  
print(names[3:])
names[0]

['Sakshi', 'Gauri', 'Surabhi', 'Himanshu']
['Himanshu', 'Yash', 'Prashant', 'Megha', 'Pratiksha']

'Sakshi'

In [ ]:
# Looping through lists

In [ ]:
#appends():Adds an elements at the end of the list
print(names)
names.append('Kalyani')
print(names)

['Sakshi', 'Gauri', 'Surabhi', 'Himanshu', 'Yash', 'Prashant', 'Megha', 'Pratiksha']
['Sakshi', 'Gauri', 'Surabhi', 'Himanshu', 'Yash', 'Prashant', 'Megha', 'Pratiksha', 'Kalyani']

In [ ]:
#count():Gives the total no of elements with specified value
names.count('Himanshu')

1

In [ ]:
#copy():Returns copy of the list
X=names.copy()
print(X)

['Sakshi', 'Gauri', 'Surabhi', 'Himanshu', 'Yash', 'Prashant', 'Megha', 'Pratiksha', 'Kalyani']

In [ ]:
#del:Delete list
print(names)
del names
print(names)

['Sakshi', 'Gauri', 'Surabhi', 'Himanshu', 'Yash', 'Prashant', 'Megha', 'Pratiksha']

NameError: ignored

In [ ]:
# extend():Add elements of the list to the end of the current list
A=['a','b','c','d']
names.extend(A)
print(names)

['Sakshi', 'Gauri', 'Surabhi', 'Himanshu', 'Yash', 'Prashant', 'Megha', 'Pratiksha', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [ ]:
#index():Returns the index of the first element with specified value
names.index('Surabhi')

2

In [ ]:
#sort():sorts the list
names.sort()
print(names)

['Gauri', 'Himanshu', 'Megha', 'Prashant', 'Pratiksha', 'Sakshi', 'Surabhi', 'Yash']

In [ ]:
H=(1,2,3,4)
h=('ab','cd','ef')
print(H,"/n")
print(type(h))

(1, 2, 3, 4) /n
<class 'tuple'>

In [ ]:
#Negative index
print(H[])

In [ ]:
#del():Delete tuples
del(h)