In [11]:
def S1():
  #global X
  X='Shivani'
  print('my name is',X)
  print(X)

  S1()

In [52]:
def S2():
  global W
  W='Shiv'
  R='Suru'
  print(W)
  print(R)
  S2()

In [53]:
print(W)

Shiv

In [55]:
# get keywords in python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [31]:
x,y,z=4,"Hello","Monday"
print(x)
print(type(x))
complex(x)
print(y)
print(type(y))

4
<class 'int'>
Hello
<class 'str'>

In [34]:

complex(1)

(1+0j)

In [38]:
'shiv'+'ani'
a='Today is'
b='saturday'
c=a+' '+b
print(c)

Today is saturday

In [40]:
a=input()
a

shiv

'shiv'

In [46]:
Name='Shivani'
Sirname='Mate'
a=1.2
b=23
c=7j
print(int(a))
print(float(b))
print(complex(a))
print(complex(b))

1
23.0
(1.2+0j)
(23+0j)

In [47]:
print(int(c))

TypeError: ignored

In [56]:
b="Hello Surabhi"
print(b.strip())
print(b.lower())
print(b.upper())
print(b.replace("a","u"))
print(b.split("h"))

Hello Surabhi
hello surabhi
HELLO SURABHI
Hello Surubhi
['Hello Surab', 'i']

In [58]:
age=21
txt="My name is shiv, and i am {} years old"
print(txt.format(age))

My name is shiv, and i am 21 years old

In [62]:
QT=2
item="breads"
price=20
myorder="i will buy {} {} for rupees {}"
print(myorder.format(QT,item,price))

i will buy 2 breads for rupees 20

In [64]:
Name=input()
age=input()
Class=input()
college=input()
"My name is {}.i am {} years old. My class is {} and my college name is {}".format(Name,age,Class,college)

shiv
21
TYBSc
sp,college

'My name is shiv.i am 21 years old. My class is TYBSc and my college name is sp,college'

In [66]:
QT=2
item="breads"
price=20
country="Indian"
myorder="i will buy {a} {b} for rupees {c},rupees in {D} currency"
print(myorder.format(a=QT,b=item,c=price,D=country))

i will buy 2 breads for rupees 20,rupees in Indian currency