In [ ]:
#Booleans:represent one of the two values:True or False
print(3>4)
print(2==2)
print(8<9)

False
True
True

In [ ]:
X="Shiv"
Y="Suru"
G=[]
print(bool(X))
print(bool(Y))
print(bool(G)) # Gives result false because G is empty

True
True
False

In [ ]:
a=10
b=16
print(bool(a==b))

False

In [ ]:
x,y=5,6
print(x==y)
print(x!=y) # for not equal to use '!='
print(x>=y)

False
True
False

In [ ]:
# Logical Operators(is , is not)
x,y=2,3
print(x is y)         # is,is not operators
print(x is not y)
a,b=5,5
print(a is b)

False
True
True

In [ ]:
# Membership Operators(in,not in)
X=[1,2,3,4,"Yash","Himanshu"]
print(X)
print("Yash"  in X)
print("Himanshu" is "Himanshu")
S="Hello, Suru"
print("Suru" in S)

[1, 2, 3, 4, 'Yash', 'Himanshu']
True
True
True